* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  margin: 0;
  background: rgba(90,90,90,1);
}

